body {
	padding-top: 100px;
}
.top-buffer {
	margin-top:20px;
	margin-bottom:20px;

 }

.navbar {
    background-color: #13513D;
    
    padding-top:initial;
}

.nav-pills>li.active>a  {
    background-color:#13513D;

}
.nav-pills>li.active>a:hover{
    background-color:#13513D;

}
.nav-pills>li.active>a:focus{

    background-color:#13513D;
}
a.list-group-item.active>.badge, .nav-pills>.active>a>.badge{
    color:#002F26;

}
.btn-primary {
    color: #13513D;
    background-color: #ffffff;
    border-color: #13513D;
}

#logo{
    height:60px;
    width:60px;
    

}
