<div class="row top-buffer">
<div class="col-md-3">
    <ul class="nav nav-pills" >
        <li class="active" style="padding: 0px 0px 10px 0px;" ><a href="#">Customers Waiting <span id="bCustomersWaiting" class="badge">0</span></a></li>
        <li class="active" style="padding: 0px 0px 10px 0px;"><a href="#">Max. Waiting Time <span id="bMaxWaiting" class="badge">00:00</span></a></li>
        <li class="active" style="padding: 0px 0px 10px 0px;"><a href="#">Avg. Waiting Time <span id="bAvgWaiting" class="badge">00:00</span></a></li>
        <li class="active" style="padding: 0px 0px 10px 0px;"><a href="#">Open Servicepoints  <span id="bOpenServicePoints" class="badge">0</span></a></li>
		<li class="active" style="padding: 0px 0px 10px 0px;"><a href="#">Serving Customers <span id="bServingCustomers" class="badge">0</span></a></li>
    </ul>
			<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{ alert.msg }}</alert>
</div>

	<div class="col-md-5">
		<accordion close-others="true">
			<accordion-group ng-repeat="queue in queues |  orderBy:'name' " ng-click="showVisits(queue.id)" is-open="queue.open">
				<accordion-heading>
					<span ng-click="$parent.toggleOpen = !$parent.toggleOpen" >{{ queue.name }} <span class="pull-right" >{{ formatTime(queue.waitingTime) }}  <span class="badge">{{ queue.customersWaiting }}</span></span></span>
				</accordion-heading>
				<span ng-click="$event.stopPropagation()" >
				<table class="table table-condensed table-striped">
					<tbody>
						<tr ng-repeat="visit in visits |  orderBy:'-waitingTime'">
							<td style="width: 20%;"><strong>{{ visit.ticketId }}</strong></td>
							<td style="width: 80%;"  align="center">
							<!--<span type="submit" class="btn btn-primary btn-small btn-block" data-toggle="modal" data-target="#optionsModal" ng-click="deleteVisit(visit.visitId)">-->
							<span type="button" class="btn btn-primary btn-small btn-block" ng-click="showOptions(visit.visitId,queue.id)" style="width: 100px;">
									  <i class="fa fa-cog"></i>
								  </span>
							</td>
							<td class="pull-right">{{ formatTime(visit.waitingTime) }}</td>
						</tr>
					</tbody>
				</table>
				</span>
			</accordion-group>
		</accordion>
	</div>
	
	
	<div class="col-md-4">
				<table class="table table-condensed table-striped">
					<thead>
					<tr>
					<th>Service Point Name</th>
					<th>Staff Name</th>
					<th>Work Profile</th>
					<th>Transaction time</th>
					<th>Current Ticket</th>
					</tr>
					</thead>
					<tbody>
						<tr ng-repeat="Servicepoint in servicepoints | orderBy:'id'">
							<td><strong>{{ Servicepoint.name }}</strong></td>
							<td>{{ Servicepoint.staffFullName || 'Not logged in' }}</td>
							<td>{{ Servicepoint.workProfileName || 'Not Set ' }}</td>
							<td>{{ formatTime(Servicepoint.currentTransactionTime) || 'Not Set ' }}</td>
							<td>{{ Servicepoint.currentTicketNumber || 'Inactive ' }}</td>
						</tr>
					</tbody>
				</table>
	</div>

<!-- 	<div class="col-md-3">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h3 class="panel-title">Create Visit</h3>
		    </div>
		    <div class="panel-body">
					<form name="visitForm" role="form" ng-submit="createVisit()">
					  <div class="form-group">
					    <label for="service">Select Service(s)</label>
							<select multiple class="form-control" ng-model="visit.services" ng-options="service.id as service.internalName for service in services" required></select>
					  </div>
					 <!-- <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="!visitForm.$valid">
						  <i class="fa fa-plus"></i> Create
					  </button>-->
			<!-- 		  <button type="submit" class="btn btn-primary btn-lg btn-block" >
						  <i class="fa fa-plus"></i> Create
					  </button>
				  </form>
		    </div>
		  </div> 
	</div> --> 
</div>